.style1{
    margin-top: 50px;
    margin-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blanchedalmond;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    background-color: chocolate;
    
}

.style2{
    margin-top: 25px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-decoration: underline;
}

.style3, .style4, .style5, .style6, .style7 {

    margin-top: 25px;
    margin-left: 25px;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 500;

}
/* Assg JS 13/05/22 */
.h1{
    text-align: center;
}

.hr{
    margin-top: 25px;
}

.display{
    display: inline-flex;
    margin-top: 20px;
}

.L1{
    margin-left: 10px;
}


.logo{
    border: 1px;
    border-style: dotted;
    border-color: darkcyan;
}

.btn{
    background-color: yellowgreen;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

h4{
    text-align: center;
    margin-bottom: 5px;
}





